<%- include('./partials/head') %>
  <title><%= pageTitle %></title>
</head>
<body class="bg-gray-800 text-gray-100 flex items-center justify-center min-h-screen">
  <header class="text-center">
    <h1 class="text-5xl font-extrabold text-red-500">Oops! 404 Error - Page Not Found</h1>
  </header>
</body>
</html>